@charset "UTF-8";

body {
    background-image: url('https://github.com/gustavoguanabara/gustavoguanabara.github.io/raw/master/images/mascote-html5.png');
    background-size: 100px 100px;
    background-repeat: repeat;
}